@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,800&display=swap');

body{
    font-family: 'Montserrat', sans-serif; 
}

.header1 {
    font-size: 48px;
    line-height: 59px;
text-align: center;

color: #FFFFFF;


}
.img1_info{
    text-align: center;
color: #FFFFFF;
line-height: 17px;
}
.header2{
    font-size: 18px;
}
.profesion{
    color:#FF3232;
}
p {
    font-size: 14;
}
.block{
    
display: flex;

}
.text_field{
    margin-left: 50px;
    justify-content: center;
}
.img_block{
width: 310px;
height: 656px;
background: #1A142D;
padding-top: 17px;
padding-left: 17px;
padding-right: 17px;
box-sizing: border-box;

}

.img1{
width: 273px;
height: 392px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
}
.gallary{
    margin-top: 87px;
    justify-content: center;     
    
}
.gallary_img{
    width: 206px ;
    height: 206px;
    margin-right: 25px;;
    
}
.block_smm{
      margin-left: 33%;    
} 
.smm1:hover{
    position: relative;
    bottom: 5px;
}
.smm2:hover{
    position: relative;
    bottom: 5px;
}
.smm3:hover{
    position: relative;
    bottom: 5px;
}
.gallary_item{
position: relative;
}
.gallery_label1{
    display: none;
    width: 206px;
    box-sizing: border-box;
    position:absolute;
    bottom: 0;
    left: 0px;
    background-color:#1A142D ;
    color: #FFFFFF;
    font-size: 12px;
    padding-top: 5px ;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
}
.gallary_item:hover .gallery_label1 {
display: block;
}

